<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa's Pizza</title>

    <!-- Favicon -->
    <link rel="icon" href="images/pizza slice.jpg">

    <!-- Stylesheet -->
     <link rel="stylesheet" href="styles/styles-pizza.css">

    <!-- JavaScript -->
     <script src="js/pizza.js" defer></script>
</head>

<body>
    <main>
        <header>
            <img src="images/pizza-guy.jpg" alt="Papa's Pizza Guy">
            <h1>Welcome to Papa's Pizza</h1>
            <h2>Serving GRC Students for 50 Years</h2>
            <hr>
            <p>Come check us out</p>
            <a id="contact-button" href="/contact-us" role="button">Contact Us</a>
        </header>
  
<!-- post method is more secure than get-->
    <form id="pizza-form" action="/submit-order" method="post">
        <!--Contact info-->
        <fieldset>
            <legend>Contact Information</legend>

            <label for="fname">First Name: <span class="err" id="err-fname">First name is required</span></label>
            <input type="text" id="fname" name="fname">

            <label for="lname">Last Name: <span class="err" id="err-lname">Last name is required</span></label>
            <input type="text" id="lname" name="lname">

            <label for="email">Email Address: <span class="err" id="err-email">Email is required</span></label>
            <input type="text" id="email" name="email">
        </fieldset>

    <!--Pick up or delivery options-->
      <fieldset>
        <legend>Select Pickup or Delivery</legend>
        <span class="err" id="err-method">Please select a pickup or delivery</span>
        <label for="pickup">
            <input type="radio" id="pickup" value="pickup" name="method">Pickup </label>
        <label for="delivery">
            <input type="radio" id="delivery" value="delivery" name="method">Delivery </label>
    </fieldset>

    <!--Toppings-->
    <fieldset>
        <legend>Select Toppings</legend>
        <label for="pepperoni">
            <input type="checkbox" 
            id="pepperoni" 
            name="toppings[]"
            value="pepperoni">Pepperoni </label>

             <label for="mushrooms">
            <input type="checkbox" 
            id="mushrooms" 
            name="toppings[]"
            value="mushrooms">Mushrooms </label>

            <label for="Green Peppers">
            <input type="checkbox" 
            id="green-peppers" 
            name="toppings[]"
            value="green peppers">Green Peppers </label>

            <label for="Olives">
            <input type="checkbox" 
            id="olives" 
            name="toppings[]"
            value="olives">Olives </label>

            <label for="Onion">
            <input type="checkbox" 
            id="Onion" 
            name="toppings[]"
            value="onion">Onion </label>

            <label for="Spinach">
            <input type="checkbox" 
            id="spinach" 
            name="toppings[]"
            value="spinach">Spinach </label>

             <label for="Pineapple">
            <input type="checkbox" 
            id="pineapple" 
            name="toppings[]"
            value="pineapple">Pineapple </label>
    </fieldset>

       <!--Pizza size-->
    <fieldset>
        <legend>Pizza Size</legend>
        <span class="err" id="err-size">Please select a pizza size</span>
        <select id="size" name="size">
            <option value="none">--Select Size--</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
            <option value="extra-large">Extra Large</option>
        </select>
    </fieldset>

    <!-- Comment field -->
     <label for="comments">Comments or Special Instructions:</label>
     <textarea rows="5"  id="comments" name="comments"></textarea>

     <!-- Sign me up for discounts -->
      <label for="discounts">
       <input type="checkbox" id="discounts" name="discounts" checked> Sign me up for special offers and discounts!</label>


    <!--Submit button-->
    <button type="submit" id="order-button">Place Order</button>
</form>

      </main>
</body>
</html>