*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    background-color: darkred;
    font-family: serif,sans-serif;
}

main{
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;  /* top right bottom left */
    padding: 0 1rem 2rem 1rem;
}

header{
    background-color: lightgrey;
    border-radius: .25rem;
    padding: 2rem 1rem; /*  horizontal and vertical*/
    margin-bottom: 2rem;
}



